# Ignore temp files from other editors
~*

# Ignore pycache
*.DS_Store
*.pyc
.ipynb_checkpoints/

# Ignore data backups and notes
deep_globe/
data_backup/
*.pkl
*_notes.txt

# Ignore API key files
kaggle.json

# Ignore powerpoint files
final_pres/*.pptx

